<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Here are the list of all Students</h1>
    {% for std in all_students %}
        <h2><a href="{% url 'std_detail' std.id %}">{{std.name}}</a></h2>
    {% endfor %}
</body>
</html>