<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Here are the list of all Students</h1>
    {% for student in all_students %}
        <p>{{student.name}}</p>
        <p>{{student.date_of_birth}}</p>
        <p>{{student.stream}}</p>
        <p>{{student.e_mail}}</p>
        <p>{{student.contact_no}}</p>
        <br>

    {% endfor %}

</body>
</html>